h1, h2, h4, h5
{
    background-color:crimson;
    color: darkgrey;
    text-align: center;
    font-style: oblique;
    font-family: fantasy;
}
h3
{
    background-color: brown;
    opacity: .5;
    border-bottom: 4px solid;
    border-bottom-color: darkgrey;
    border-bottom-left-radius: 100px;
    border-top: 1.5px solid;
    border-top-color: darkgrey;
    border-top-right-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.button
{
    background-color:black;
    color:white;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-color:white;
    border-style: double;
    padding:10px 30px 10px 30px;
    margin-left: auto;
    margin-right:auto;
    display:block;
    cursor:pointer;
}
.text
{
    color:white;
    text-align: center;
}
.standout
{
    color:blue;
    box-shadow:white;
}
.centerAlign
{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
}
.picture
{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}