h1, h2, h3, h4, h5
{
    background-color:crimson;
    color: darkgrey;
    text-align: center;
    font-style: oblique;
    font-family: fantasy;
}

body
{
    background-image: url(pics/REALFinalBackground.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.button
{
    background-color:black;
    color:white;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-color:white;
    border-style: double;
    padding:10px 10px 10px 10px;
    margin-left: auto;
    margin-right:auto;
}