h1, h2, h3, h4, h5
{
    background-color:crimson;
    color: darkgrey;
    text-align: center;
    font-style: oblique;
    font-family: fantasy;
}

body
{
    background-image: url(background2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}